/*----------------------------------

                RESET

----------------------------------*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------------------------

                FONT

----------------------------------*/
body
{
    font-family: "PT Sans", sans-serif;
}
/*----------------------------------

            GENERAL

----------------------------------*/

/*----------------------------------
            MAIN-CONTAINER
----------------------------------*/
.main-container
{
    max-width: 1170px;
    margin: 0 auto;
}
/*----------------------------------
            BLUE-CONTAINER
----------------------------------*/
.blue-container
{
    border-radius: 20px;
    background-color: #b5ddff;
}
/*----------------------------------
            BUTTON
----------------------------------*/
.button
{
    border-radius: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/*----------------------------------
            LINK
----------------------------------*/
a
{
    text-decoration: none;
    color: black;
}
/*----------------------------------
            LIST
----------------------------------*/
li
{
    list-style: none;
}
/*----------------------------------
            IMAGE
----------------------------------*/
img
{
    max-width: 100%;
}
/*----------------------------------

            HEADER

----------------------------------*/
header
{
    background-color: #0084fd;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.header-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
/*----------------------------------
            RIGHT-HEADER
----------------------------------*/
.right-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-button
{
    display: flex;
    align-items: center;
}
/*----------------------------------
            LIST/LINK
----------------------------------*/
ul
{
    display: flex;
}
li
{
    padding: 0 15px;
}
a
{
    color: white;
}
/*----------------------------------
            BUTTON
----------------------------------*/
.header-button
{
    padding: 8px 10px;
    background-color: white;
    margin-left: 10px;
}
button a
{
    color: black;
}
.hamburger
{
    display: none;
}

/*----------------------------------

            OPTIONS

----------------------------------*/
/*----------------------------------

            GENERAL
----------------------------------*/
.options
{
    padding-bottom: 80px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
.upper-row
{
    margin-top: 35px;
}
.lower-row
{
    margin-top: 20px;
}
.col
{
    width: calc(100% / 3);
    padding: 0 10px;
}
/*----------------------------------
            I
----------------------------------*/
.options i:not([class$="-apple"])
{
    font-size: 70px;
    color: #0084fd;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
/*----------------------------------
            H3
----------------------------------*/
.options h3
{
    color: #0084fd;
    text-align: center;
    padding-top: 25px;
}
.left-demo h3
{
    color: #0084fd;
    text-align: left;
}
/*----------------------------------
            TEXT    
----------------------------------*/
.text
{
    color: #5a6e7f;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    padding: 10px;
}
.text-p
{
    color: #5a6e7f;
    font-weight: 600;
    line-height: 2;
    text-align: left;
}
/*----------------------------------

            DEMO     
----------------------------------*/
.demo .blue-container
{
    display: flex;
}
.grow
{
    flex-grow: 1;
}
/*----------------------------------
            LEFT-DEMO
----------------------------------*/
.left-demo
{
    padding: 10px 30px;
    width: 50%;
}
.left-demo p
{
    font-size: 16px;
    padding: 20px 0;
}
.demo-button
{
    padding: 8px 40px;
    background-color: #0084fd;
    color: white;
}
.demo-button a
{
    color: white;
    font-weight: bold;
}
[class$="-apple"]
{
    color: white;
    padding: 0 5px;
}
/*----------------------------------
            RIGHT-DEMO
----------------------------------*/
.right-demo
{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    width: 50%;
}
.right-demo img
{
    max-width: 60%;
}
/*----------------------------------
            CLEAN
----------------------------------*/
.clean
{
    display: flex;
    flex-wrap: nowrap;
}
/*----------------------------------

            PLANNING

----------------------------------*/
/*----------------------------------

            GENERAL
----------------------------------*/
.middle-container
{
    max-width: 880px;
    margin: 0 auto;
}
.planning
{
    display: flex;
    flex-wrap: wrap;
    background-color: #9792e4;
    padding-bottom: 50px;
}
.box-planning
{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}
.column
{
    width: 50%;
    padding: 0 25px;
}
.left-col, .right-col
{
    display: flex;
    flex-wrap: wrap;
}
/*----------------------------------
            LEFT-COL
----------------------------------*/
.left-col img
{
    padding: 100px 0;
    width: 100%;
}
.text-left
{
    color: white;
}
.text-left h2
{
    padding: 40px 0;
    font-size: 30px;
}
.text-left p
{
    line-height: 1.5;
    font-size: 17px;
}
/*----------------------------------
            RIGHT-COL
----------------------------------*/
.card-white
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    background-color: white;
    padding: 30px;
}
.card-white img
{
    padding: 0 45px;
}
.text-right
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-right h2
{
    padding: 25px 0;
    font-size: 25px;
}
.text-right p
{
    line-height: 2;
    font-size: 18px;
    text-align: center;
    font-style: oblique;
}
.app-btn
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 20px;
    background-color: #9792e4;
}
.app-btn a
{
    font-size: 15px;
}
/*----------------------------------

            PARTNERS

----------------------------------*/
/*----------------------------------

            TEXT-PARTNERS
----------------------------------*/
.text-partners
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.text-partners h4
{
    font-weight: 100;
    padding-bottom: 20px;
}
.text-partners h1
{
    font-size: 45px;
    color: #9792e4;
}
.text-partners p
{
    padding: 40px 60px;
    font-size: 18px;
    text-align: center;
}
/*----------------------------------

            COLUMN-PARTNERS
----------------------------------*/
.partners
{
    margin-bottom: 70px;
}
.column-partners
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.column-partners .card
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #9792e4;
    border-radius: 50px;
    padding: 30px;
    margin: 15px;
}
.text-partners p
{
    text-align: left;
    color: white;
    line-height: 2;
}
.text-partners h4
{
    text-align: left;
    color: white;
    line-height: 2;
    font-size: 16px;
}
/*----------------------------------

            BENEFITS

----------------------------------*/
.benefits
{
    background-color: #9792e4;
    padding-bottom: 40px;
}
.box-benefits > h1
{
    text-align: center;
    padding: 40px;
    font-size: 50px;
    color: white;
}
.row-benefits
{
    display: flex;
    flex-wrap: nowrap;
}
.card-benefits
{
    width: calc(100% / 3);
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
}
.card-benefits h1, .card-benefits h3
{
    color: #9792e4;
}
.card-benefits h1
{
    font-size: 60px;
    padding: 10px 0;
}
.card-benefits h3
{
    font-size: 25px;
}
.card-benefits p
{
    color: #5a6e7f;
    padding: 20px 0;
    line-height: 2;  
}
.card-benefits button
{
    padding: 10px 45px;
    border-radius: 30px;
    border-style: none;
    background-color: #9792e4;
    color: white;
}
.card-benefits a
{
    color: white;
}
/*----------------------------------

            BENEFITS

----------------------------------*/
/*----------------------------------
            
----------------------------------*/
.box-about
{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.text-about
{
    width: 70%;
}
.text-about h1
{
    font-size: 40px;
    color: #9792e4;
}
.text-about p
{
    color: #5a6e7f;
    padding: 30px 50px 0 0;
    line-height: 2;
}
.photo-about
{
    width: 30%;
    padding: 20px 22px;
}
.photo-about h2
{
    color: #9792e4;
    font-size: 30px;
    font-weight: bolder;
    padding: 20px 0;
}
.photo-about button
{
    padding: 10px;
    border-radius: 30px;
    border-style: none;
    background-color: #9792e4;
}
.photo-about a
{
    color: white;
    padding: 0 10px;
    font-weight: 700;
}
.photo-about i
{
    color: white;
    padding: 0 5px;
}
/*----------------------------------

            STARTED

----------------------------------*/
/*----------------------------------
            
----------------------------------*/
.small-container
{
    max-width: 700px;
    margin: 0 auto;
}
.started
{
    background-color: #9792e4;
    padding-bottom: 40px;
}
.box-started
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box-started h3
{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    margin-top: 60px;
}
.box-started h2
{
    color: white;
    font-size: 50px;
    font-weight: 900;
    margin: 30px 0;
}
.box-started h1
{
    color: #fdc15f;
    font-size: 100px;
    font-weight: 900;
    margin: 10px 0;
}
.box-started p
{
    color: white;
    font-size: 18px;
    padding: 20px;
    line-height: 2;
    letter-spacing: 1.5px;
}
p a 
{
    color: white;
    text-decoration: underline;
}
.box-started button
{
    padding: 30px 90px;
    border-radius: 40px;
    border-style: none;
    background-color: white;
    letter-spacing: 2px;
    margin: 20px 0;
}
button a
{
    color: #9792e4;
    font-size: 20px;
    font-weight: 600;
}
/*----------------------------------

            FOOTER

----------------------------------*/
/*----------------------------------

            FOOTER-SECTION
----------------------------------*/
footer
{
    background-color: #333333;
}
.text-footer
{
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 50px 0;
}
.top-footer
{
    padding-bottom: 60px;
}
.bottom-footer a
{
    color: #9792e4;

}


/*----------------------------------

            RESPONSIVE

----------------------------------*/
/*----------------------------------

            TABLET

----------------------------------*/

@media screen and (max-width: 992px) 
{
/*----------------------------------
            GENERAL
----------------------------------*/
    .main-container
    {
        width: 100%;
    }
/*----------------------------------

            HEADER
----------------------------------*/    
    .header-section
    {
        padding: 15px 30px 10px 30px;
    }
    .link-button
    {
        display: none;
    }
    .hamburger
    {
        display: block;
        font-size: 20px;
    }
/*----------------------------------
            OPTIONS
----------------------------------*/
    .demo .blue-container
    {
        display: block;
    }
    .left-demo
    {
        padding-bottom: 0px;
        width: 100%;
    }
    .right-demo
    {
        justify-content: left;
        padding-top: 30px;
        padding-left: 30px;
        width: 70%;
    }
    .row
    {
        padding: 0 20px;
    }
/*----------------------------------

            PLANNING
----------------------------------*/
/*----------------------------------
            GENERAL
----------------------------------*/
    .middle-container
    {
        width: 100%;
    }
    .column
    {
        width: 100%;
        padding: 10px 25px;
    }
    .text-left h2
    {
        padding: 40px 0;
        font-size: 80px;
    }
    .text-left p
    {
        line-height: 1.5;
        font-size: 16px;
    }
/*----------------------------------

            BENEFITS
----------------------------------*/
/*----------------------------------
            GENERAL
----------------------------------*/
    .row-benefits
    {
        flex-wrap: wrap;
        justify-content: center;
    }


/*----------------------------------

            STARTED
----------------------------------*/
/*----------------------------------
            STARTED-SECTION
----------------------------------*/
    .started
    {
        padding: 30px;
    }


/*----------------------------------

            FOOTER
----------------------------------*/
/*----------------------------------
            FOOTER-SECTION
----------------------------------*/
    .small-container
    {
        max-width: 100%;
    }



}   
/*----------------------------------

            MOBILE

----------------------------------*/
@media screen and (max-width: 768px) 
{
/*----------------------------------
            OPTIONS
----------------------------------*/
    .col
    {
        width: 100%;
        padding: 10px;
    }
    .upper-row
    {
        margin: 30px 20px 0 20px;
    }
    .lower-row
    {
        margin: 0 20px 0 20px;
    }
    .right-demo
    {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-left: 0px;
        width: 100%;
    }
    .text-left h2
    {
        padding-bottom: 40px;
        font-size: 45px;
    }
    .left-col img
    {
        padding: 50px 0;
        width: 100%;
    }
/*----------------------------------
            PARTNERS
----------------------------------*/
    .column-partners .card
    {
        flex-wrap: wrap;
    }
/*----------------------------------

            BENEFITS

----------------------------------*/
/*----------------------------------
            
----------------------------------*/
    .card-benefits
    {
        width: 100%;
    }
    .row-benefits
    {
        flex-wrap: wrap;
        justify-content: center;
    }

}